<ion-header>
  <ion-toolbar>
    <ion-title>Work</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Company Page</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="companyEmployee">
      <ion-item>
        Company: <ion-badge color="secondary" float-right>{{companyEmployee.companyName}}</ion-badge>
      </ion-item>        
      <ion-item>
        Salary: <ion-badge color="success" float-right>{{companyEmployee.salary}} {{companyEmployee.currencyName}}</ion-badge>
      </ion-item>        
      <ion-button *ngIf="!workResult" [disabled]="workButtonDisabled" color="primary" size="large" (click)="work()" shape="block">Work!</ion-button>
      <!-- <ion-button shape="round" color="danger" fill="outline" size="small" float-right>resign</ion-button> -->
    </ion-card-content>
    <ion-card-content *ngIf="!companyEmployee">
      <p>You don't work anywhere!</p>
    </ion-card-content>
</ion-card>

<ion-card *ngIf="workResult">
  <ion-card-header>
      <ion-card-title>Already worked</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <p>You already worked today.</p>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Stats</h2>
            <p>Experience: <ion-badge color="primary">+1</ion-badge></p>
            <p>Skill: <ion-badge color="success">+{{workResult.skilGained}}</ion-badge></p>
            <p>Wellness: <ion-badge color="danger">-{{workResult.workWellness}}</ion-badge></p>
            <p>Production: <ion-badge color="success">{{workResult.production}}</ion-badge></p>
            <p>Salary: <ion-badge color="success">+{{workResult.salaryWork}} {{workResult.salaryCurrencyName}}</ion-badge></p>
            <p>Salary tax: <ion-badge color="danger">-{{(workResult.salaryWork * (workResult.salaryTax / 100))}} {{workResult.salaryCurrencyName}}</ion-badge></p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>