<ion-header>
	<ion-toolbar>
		<ion-title>vPopulus Mobile</ion-title>
	</ion-toolbar>
</ion-header>

<ion-grid>
	<ion-row justify-content-center>
		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
			<div text-center>
				<h4>vPopulus Login</h4>
			</div>
			<div padding>
				<ion-item>
					<ion-label position="floating">Username</ion-label>
					<ion-input required [(ngModel)]="username"></ion-input>
				</ion-item>

				<ion-item>
					<ion-label position="floating">Password</ion-label>
					<ion-input required [(ngModel)]="password" type="password"></ion-input>
				</ion-item>
			</div>
				<div padding>
					<ion-button size="large" [disabled]="loginButtonDisabled" (click)="login()" expand="block">Login</ion-button>
				</div>
		</ion-col>
	</ion-row>
</ion-grid>