<ion-app>

    <!-- Sidemenu -->
    <ion-menu>
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>vPopulus menu</ion-title>
            </ion-toolbar>
        </ion-header>

        <ion-content>
            <ion-list>
                <ion-list-header>
                    Available options
                </ion-list-header>
                <ion-menu-toggle auto-hide="false">
                    <ion-item button href="/home">
                        <ion-icon slot="start" name='home'></ion-icon>
                        <ion-label>Home</ion-label>
                    </ion-item>
                    <ion-item button href="/work">
                        <ion-icon slot="start" name='hammer'></ion-icon>
                        <ion-label>Work</ion-label>
                    </ion-item>
                    <ion-item button href="/train">
                        <ion-icon slot="start" name='body'></ion-icon>
                        <ion-label>Train</ion-label>
                    </ion-item>
                    <ion-item button href="/articles">
                        <ion-icon slot="start" name='body'></ion-icon>
                        <ion-label>Latest articles</ion-label>
                    </ion-item>
                    <ion-item button (click)="logout()">
                        <ion-icon slot="start" name='arrow-round-back'></ion-icon>
                        <ion-label>Logout</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>

    <!-- Topbar  -->
    <ion-header>
        <ion-toolbar color="primary">
            <ion-buttons slot="start" *ngIf="userToken">
                <ion-menu-toggle>
                    <ion-button>
                        <ion-icon slot="icon-only" name="menu"></ion-icon>
                    </ion-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>vPopulus App</ion-title>
        </ion-toolbar>
    </ion-header>

    <!-- Main content -->
    <ion-router-outlet main></ion-router-outlet>

</ion-app>