<ion-header>
  <ion-toolbar color="primary">
      <ion-title>vPopulus menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
        <ion-card-title>Train Page</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="trainingStats == undefined">
        <p>If you want to help your country in war you must train daily and gain strength. Strength has an effect on the damage you do in battles. It, along with your military rank, contribute to the damage you cause in battles.</p>
        <ion-button color="success" [disabled]="trainButtonDisabled" size="large" shape="block" (click)="train()">Train!</ion-button>
    </ion-card-content>
</ion-card>

<ion-card *ngIf="trainingStats != undefined">
  <ion-card-header>
      <ion-card-title>Already trained</ion-card-title>
  </ion-card-header>
  <ion-card-content>
      <p>You already trained today.</p>
      <ion-list>
        <ion-item>
          <ion-label>
            <h2>Stats</h2>
            <p>Experience: <ion-badge color="primary">+1</ion-badge></p>
            <p>Strength: <ion-badge color="success">+{{trainingStats.item1}}</ion-badge></p>
            <p>Days trained in row: <ion-badge color="success">{{trainingStats.item2}}</ion-badge></p>
            <p>Wellness: <ion-badge color="danger">-1 (Had: {{trainingStats.item3}})</ion-badge></p>
          </ion-label>
        </ion-item>
      </ion-list>
  </ion-card-content>
</ion-card>
</ion-content>