<ion-header>
  <ion-toolbar>
    <ion-title>article-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let item of articles" (click)="openArticle(item.id)">
      <ion-avatar slot="start">
        <img src="{{item.newspaperAvatar}}" />
      </ion-avatar>
      <ion-label>
        <h2>{{item.title}}</h2>
        <p>Author: {{item.newspaperName}} / Published at: {{item.creationDateTime.replace('T', ' ')}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
